/*body{
    margin:0;
    padding: 0;
}
.listContainer{
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(300px, 1fr)
    );
    grid-template-rows: 1fr;
    grid-gap: 20px;
	

}

.item{
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
}

.listContainer :hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color:rgb(180, 180, 240);
}
 */